.logo {
    display: flex;
    padding-top: 109px;
    align-items: center;
    justify-content: center;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: center;
}

button {
    border-radius: o;
}

.navright {
    display: flex;
    flex-direction: row;
    position: right;
    justify-content: flex-end;
}

.navleft {
    display: flex;
    flex-direction: row;
    position: left;
    justify-content: flex-start;
}

.right-foot {
    display: flex;
    flex-direction: row;
    position: right;
    justify-content: flex-end;
}

.left-foot {
    display: flex;
    flex-direction: row;
    position: left;
    justify-content: flex-start;
}